section {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.header_img {
  width: 100%;
}
.contact_container {
  max-width: 960px;
  margin: 0 auto;
}
.contact_title {
  border-bottom: 1px solid #e0e0e2;
  font-size: 16px;
  padding: 20px 0 10px;
}
.contact_getMore {
  color: #f09803;
  font-size: 16px;
  padding: 12px 0;
}
.contact_label {
  font-size: 12px;
}
.contact_phone {
  color: #f09803;
  font-size: 24px;
  padding: 16px 0;
}
.contact_qrCodeWrap {
  padding: 30px 0;
  border-top: 1px solid #e0e0e2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.contact_qrCodeWrap .contact_qrCode {
  background: url("../hulema/images/adangkefu.png") no-repeat;
  box-sizing: border-box;
  display: flex;
  width: 273px;
  height: 323px;
}
.contact_qrCodeWrap .contact_qrcode_img {
  margin: 50px auto 0;
  display: block;
  width: 180px;
  height: 200px;
}
.contact_qrCodeWrap .contact_kf_label {
  text-align: center;
}
