/* no phone show */
/* variable */
section {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.header_img {
  width: 100%;
}
.container {
  background: url(../i/images/bg.png) no-repeat top center;
  background-size: 100% 100%;
}
.vv_header_container {
  display: none;
}
.vv_footer {
  display: none;
}
.qrcode {
  display: none;
}
.vv_logo {
  margin: 0;
}
.home_contentContainer {
  max-width: 960px;
  margin: 0 auto;
}
.home_header_nav {
  height: 340px;
  display: flex;
  background: #dedede;
  /* 导航栏的图片背景 */
}
.home_qrcode_wrap {
  max-width: 960px;
  margin: 0 auto;
}
.home_row_module {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.home_hotGame_module {
  border: 1px solid #e0e0e2;
  height: 400px;
  flex: 1;
  margin-right: 20px;
  padding: 20px 0;
}
.home_hotGame_item_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home_hotGame_title {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border-radius: 0px 10px 10px 0;
  text-align: center;
  background: #b5b5b5;
}
.home_game_icon {
  width: 100px;
  height: 100px;
  display: block;
}
.home_hotGame_item {
  width: 25%;
  margin-top: 30px;
  align-items: center;
}
.home_notice {
  background: #fff;
  border: 1px solid #e0e0e2;
  width: 300px;
  height: 400px;
}
.home_notice a {
  color: #333;
  font-size: 14px;
}
.home_notice .home_notice_titleWrap {
  padding: 8px;
  border-bottom: 1px solid #e0e0e2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.scroll_container {
  bottom: 0;
}
@media screen and (min-width: 750px) {
  .vv_header_container {
    display: block;
  }
  .vv_footer {
    display: block;
  }
  .qrcode {
    display: block;
  }
  .pc .vv_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pc .vv_body .vv_phone {
    height: 100%;
    border: 1px solid #f09803;
  }
  .pc .vv_body .vv_phone_container {
    box-sizing: content-box;
    position: relative;
    width: 375px;
    height: 656px;
    z-index: 999;
    background: #fff;
    padding: 50px 15px 50px;
    border-radius: 30px;
    margin-top: 10px;
    border: 1px solid #f09803;
  }
  .pc .vv_body .vv_phoneTop {
    position: absolute;
    width: 100px;
    height: 10px;
    top: 26px;
    left: 50%;
    margin-left: -40px;
    border: 1px solid #f09803;
    border-radius: 5px;
  }
  .pc .vv_body .vv_phoneTop:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #f09803;
    left: -30px;
    top: -2px;
  }
  .pc .vv_body .vv_downLeftTip {
    position: absolute;
    left: -200px;
    top: 420px;
    width: 200px;
    height: 156px;
    background: url(../i/images/tip.png) no-repeat;
  }
  .pc .vv_body .vv_downRightTip {
    position: absolute;
    right: -230px;
    top: 300px;
    width: 200px;
    height: 200px;
  }
  .pc .vv_body .vv_downRightTip .qrcode {
    display: block;
    width: 100%;
    height: 100%;
  }
}
