/* no phone show */
/* variable */
section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 750px) {
  .pc {
    background: url(../i/images/bg.jpg) no-repeat top center;
  }
  .pc .vv_body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pc .vv_body .vv_phone {
    height: 100%;
    border: 1px solid #359efd;
  }
  .pc .vv_body .vv_phone_container {
    box-sizing: content-box;
    position: relative;
    width: 375px;
    height: 656px;
    z-index: 999;
    background: #fff;
    padding: 80px 15px 50px;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid #359efd;
  }
  .pc .vv_body .vv_phoneTop {
    position: absolute;
    width: 140px;
    height: 8px;
    top: 46px;
    left: 50%;
    margin-left: -70px;
    border: 2px solid #359efd;
    border-radius: 5px;
  }
  .pc .vv_body .vv_phoneTop:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #359efd;
    left: -15px;
    top: -2px;
  }
  .pc .vv_body .vv_phoneTop:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #359efd;
    left: 50%;
    margin-left: -4px;
    top: -16px;
  }
  .pc .vv_body .vv_downLeftTip {
    position: absolute;
    left: -200px;
    top: 420px;
    width: 200px;
    height: 156px;
    background: url(../i/images/tip.png) no-repeat;
  }
  .pc .vv_body .vv_downRightTip {
    position: absolute;
    right: -230px;
    top: 360px;
    width: 200px;
    height: 200px;
  }
  .pc .vv_body .vv_downRightTip .qrcode {
    display: block;
    width: 100%;
    height: 100%;
  }
  .pc .vv_body .vv_downRightTip .qrCode_tip {
    display: block;
    color: #359efd;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
  }
}
