section {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.header_img {
  width: 100%;
}
.container {
  background: url(../hulema/images/news_bg.png) no-repeat top center;
  background-size: 100% 100%;
}
.news_container {
  max-width: 960px;
  margin: 0 auto;
}
.vv_news_title {
  font-size: 18px;
  margin: 26px 0 12px;
}
.vv_news_tip {
  font-size: 12px;
}
.vv_newItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e2;
  padding: 20px 0;
}
.vv_newItem .vv_news_img {
  display: block;
  width: 300px;
  height: 160px;
}
.vv_newItem .vv_newsInfo {
  flex: 1;
  position: relative;
  height: 160px;
  margin-left: 30px;
  font-size: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}
.vv_newItem .vv_newsInfo .vv_newsItem_title {
  font-size: 16px;
  line-height: 32px;
}
.vv_newItem .vv_newsInfo .vv_news_content {
  font-size: 14px;
}
.vv_newItem .vv_newsInfo .vv_news_rightTip {
  color: #f09803;
  position: absolute;
  bottom: 0;
  right: 0;
}
.newsDetail_title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e2;
}
.newDetail_time {
  color: #b5b5b5;
  font-size: 14px;
  padding: 10px 0;
}
.newDetail_content {
  font-size: 14px;
}
.newDetail_content img {
  max-width: 100%;
}
.newDetail_content p {
  margin: 0;
}
