/* @import "../../node_modules/amazeui/less/variables"; */
/* @import "../../node_modules/amazeui/less/mixins"; */
section {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.header_img {
  width: 100%;
}
/* @import (inline) "../../node_modules/highlight.js/styles/github-gist.css";*/
.ask-header {
  margin-bottom: 0;
}
.ask-header .am-text-ir {
  display: block;
  margin-right: 10px;
  height: 50px;
  width: 125px;
  background: url(../i/logo.png) no-repeat left center;
  -webkit-background-size: 125px 24px;
  background-size: 125px 24px;
}
.ask-banner {
  background-color: #f8f8f8;
}
pre {
  padding: 0;
}
/* variable */
/* commonFun start */
.icon {
  width: 0.36266667rem;
  height: 0.68266667rem;
  display: block;
}
.icon.icon_back {
  background: url(../i/images/back.png) no-repeat;
  background-size: 0.36266667rem 0.68266667rem;
  padding: 0.21333333rem;
  cursor: pointer;
}
.icon_game {
  width: 0.81066667rem;
  height: 0.81066667rem;
  display: inline-block;
  background: url(../i/images/xy.png) no-repeat;
  background-size: 0.81066667rem 0.81066667rem;
}
.icon_star {
  width: 0.42666667rem;
  height: 0.42666667rem;
  margin-right: 0.17066667rem;
  display: inline-block;
  background: url(../i/images/xx.png) no-repeat;
  background-size: 0.42666667rem 0.42666667rem;
}
/* commonFun end */
/* base start */
body {
  font-size: 0.55466667rem;
  overflow: hidden;
}
.vv_phone {
  height: 100vh;
  display: flex;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}
a {
  color: #999797;
}
/* base end */
/* reset start */
.am-tabs-bd {
  border: none;
}
.am-tabs-bd .am-tab-panel {
  padding: 0;
}
.am-slider-default .am-control-nav {
  bottom: 10px;
}
.am-slider-default .am-control-nav li a.am-active {
  background: #ff7005;
}
.am-slider-default .am-control-nav li a {
  background-color: #fff;
  box-shadow: none;
}
.am-slider-default {
  margin: 0;
}
.am-nav-tabs > li > a {
  margin-right: 0;
}
.am-btn {
  font-size: 0.55466667rem;
}
/* reset end */
/* common start */
.vv_navbar_title {
  font-size: 0.768rem;
}
.vv_navbar {
  border-bottom: 1px solid #e0e0e2;
  position: absolute;
  top: 0;
  z-index: 666;
  width: 100%;
  padding: 0 0.512rem;
  height: 1.70666667rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.vv_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
}
.phone .vv_container {
  padding-right: 17px;
}
.vv_content {
  padding-top: 1.70666667rem;
  padding-bottom: 1.06666667rem;
  background: #f1f1f1;
  height: 100%;
}
.vv_m_container {
  background: #fff;
  margin-top: 0.46933333rem;
  border-top: 1px solid #e0e0e2;
}
.c_rowList {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.512rem;
  padding-right: 0.512rem;
  border-bottom: 1px solid #e0e0e2;
}
.scrollWrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.c_content {
  position: absolute;
  left: 0;
  right: 0;
}
.vv_loading_tip {
  text-align: center;
  padding: 0.21333333rem 0;
}
/* common end */
/* phone style start */
.vv_phone_tabs {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #f1f1f1;
}
.vv_tabs_nav {
  border-top: 1px solid #e0e0e2;
  display: flex;
  flex-direction: row;
  z-index: 999;
  background: #fff;
  border-bottom: none;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.13333333rem;
}
.vv_tabs_nav .vv_tabs_item {
  flex: 1;
}
.vv_tabs_nav .vv_tabs_item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none!important;
  padding: 2px 0;
}
.vv_tabs_nav .vv_tabs_item .vv_tabs_icon {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background: url(../i/images/footer_icon.png) no-repeat;
  background-size: 2.13333333rem 3.2rem;
}
.vv_tabs_nav .vv_tabs_item .vv_tabs_icon_game {
  background-position-y: 0;
}
.vv_tabs_nav .vv_tabs_item .vv_tabs_icon_news {
  background-position-y: -1.06666667rem;
}
.vv_tabs_nav .vv_tabs_item .vv_tabs_icon_join {
  background-position-y: -2.13333333rem;
}
.vv_tabs_nav .am-active {
  border-right: none;
}
.vv_tabs_nav .am-active .vv_tabs_icon {
  background-position-x: -1.06666667rem;
}
.vv_tabs_nav .am-active span {
  color: #f09803;
}
.vv_slider {
  height: 8rem;
}
.vv_slider img {
  height: 8rem;
}
.vv_join_content {
  padding: 0;
}
#home .am-tabs-bd {
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 2.13333333rem;
}
#home .vv_tab_panel {
  height: 100%;
}
#home .vv_game {
  height: 1.70666667rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e0e0e2;
}
#home .vv_game_title {
  font-size: 0.64rem;
}
#home .vv_game_item {
  padding-top: 0.42666667rem;
  padding-bottom: 0.42666667rem;
}
#home .vv_game_icon {
  width: 2.56rem;
  height: 2.56rem;
  display: inline-block;
  border-radius: 0.42666667rem;
}
#home .vv_game_info {
  margin-left: 0.768rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
#home .vv_game_name {
  font-size: 0.68266667rem;
  color: #333;
}
#home .vv_game_intro {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}
#home .vv_game_size {
  color: #999;
}
#home .vv_news_wrap {
  background: #fff;
}
#home .vv_newsItem {
  justify-content: space-between;
}
#home .vv_news_content {
  padding-right: 0.59733333rem;
  padding-top: 0.42666667rem;
  padding-bottom: 0.42666667rem;
  overflow: hidden;
}
#home .vv_news_title {
  font-size: 0.68266667rem;
  color: #111;
}
#home .vv_news_intro {
  font-size: 0.512rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#home .vv_news_img {
  width: 2.13333333rem;
  height: 2.13333333rem;
}
/* phone style end */
#routerPicker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
}
/* news */
#newDetail .vv_content {
  background: #fff;
}
#newDetail .vv_article {
  padding: 0.85333333rem 0.768rem 0;
}
#newDetail .vv_news_title {
  font-size: 0.896rem;
  line-height: 1.06666667rem;
}
#newDetail .vv_news_time {
  font-size: 0.64rem;
  color: #aaa;
  line-height: 1.49333333rem;
}
#newDetail .vv_news_content {
  font-size: 0.768rem;
  color: #666;
}
#newDetail .vv_news_content img {
  max-width: 100%;
}
/* gameDetail */
#gameDetail #detail {
  background: #f1f1f1;
  padding-bottom: 0.64rem;
}
#gameDetail .am-tabs-bd {
  position: relative;
}
#gameDetail .vv_container {
  bottom: 2.13333333rem;
}
#gameDetail .vv_navbar {
  justify-content: space-between;
  border-bottom: none;
}
#gameDetail .vv_navbar_text {
  font-size: 0.64rem;
  color: #797979;
}
#gameDetail .vv_game_header {
  border-bottom: 1px solid #e0e0e2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.42666667rem;
  background: #fff;
}
#gameDetail .vv_game_icon {
  width: 2.60266667rem;
  height: 2.60266667rem;
}
#gameDetail .vv_game_name {
  margin: 0;
  font-size: 0.68266667rem;
  color: #333;
}
#gameDetail .vv_game_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#gameDetail .vv_game_version {
  color: #999;
  line-height: 0.85333333rem;
}
#gameDetail .vv_game_split {
  padding-left: 0.21333333rem;
  padding-right: 0.21333333rem;
}
#gameDetail .vv_game_size {
  color: #999;
}
#gameDetail .vv_game_downCount {
  color: #999;
}
#gameDetail .vv_game_tag_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#gameDetail .vv_game_tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#gameDetail .icon_tag {
  width: 0.512rem;
  height: 0.512rem;
  margin-right: 0.21333333rem;
  display: inline-block;
  background: url(../i/images/dg.png) no-repeat center center;
  background-size: 0.512rem 0.512rem;
}
#gameDetail .icon_tag_text {
  color: #2edb3e;
  margin-right: 0.64rem;
}
#gameDetail .vv_game_tab_header {
  border-bottom: 1px solid #e0e0e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 1.70666667rem;
}
#gameDetail .vv_game_tab_header li {
  margin-bottom: 0;
}
#gameDetail .vv_game_tab_header a {
  border: none;
  color: #333;
  font-size: 0.64rem;
}
#gameDetail .vv_game_tab_header .am-active:after {
  content: '';
  width: 0.64rem;
  height: 0.128rem;
  position: absolute;
  background: #f09803;
  bottom: 0.064rem;
  left: 50%;
  margin-left: -0.32rem;
}
#gameDetail .vv_game_tab_header .am-active a {
  color: #f09803;
}
#gameDetail .vv_game_container {
  margin-top: 0.42666667rem;
}
#gameDetail .vv_game_content {
  border-top: 1px solid #e0e0e2;
  border-bottom: 1px solid #e0e0e2;
  position: relative;
  padding: 0.512rem 0.512rem 0.34133333rem;
  background: #fff;
}
#gameDetail .vv_game_content_module {
  border-top: 1px solid #e0e0e2;
  border-bottom: 1px solid #e0e0e2;
  background: #fff;
  margin-top: 0.42666667rem;
}
#gameDetail .vv_game_title {
  font-size: 0.64rem;
  color: #333;
  line-height: 1.70666667rem;
}
#gameDetail .vv_game_intro {
  color: #999;
  font-size: 0.59733333rem;
  padding: 0.42666667rem 0.55466667rem;
  white-space: normal;
}
#gameDetail .vv_moreGame_title {
  margin: 0;
  font-size: 0.64rem;
  text-align: center;
  color: #333;
}
#gameDetail .vv_gameMore_item_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 0.21333333rem;
}
#gameDetail .vv_gameMore_item {
  width: 33.33%;
  padding-top: 0.21333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gameDetail .vv_gameMore_item .vv_game_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#gameDetail .vv_downBtn_wrap {
  border-top: 1px solid #e0e0e2;
  width: 100%;
  height: 2.13333333rem;
  display: flex;
  align-items: center;
  position: absolute;
  padding: 0.21333333rem;
  background: #fff;
  z-index: 666;
  bottom: 0;
}
/* 游戏详情图 */
#gameDetailSlider {
  position: relative;
  width: 100%;
  height: 9.81333333rem;
  overflow: hidden;
}
#gameDetailSlider .gameDetailImgScroll {
  position: absolute;
  height: 100%;
}
#gameDetailSlider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#gameDetailSlider ul li {
  margin-right: 0.42666667rem;
}
#gameDetailSlider ul li:last-child {
  margin-right: 0;
}
#gameDetailSlider .vv_game_sliderImg {
  width: 5.54666667rem;
  height: 9.81333333rem;
  background-size: 11.34933333rem 6.4rem;
}
/*#imgPickerContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1002;
  background: rgba(0, 0, 0, 0.5);
}*/
/* game end */
#weixin-tip {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}
#weixin-tip img {
  width: 100%;
  height: 100%;
}
