section {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.header_img {
  width: 100%;
}
.c_content_container {
  max-width: 960px;
  margin: 0 auto;
}
.vv_title_wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e0e0e2;
}
.i_rect {
  width: 5px;
  height: 22px;
  background: url('../hulema/images/rect.png') no-repeat;
}
.vv_platform_title {
  font-size: 18px;
  margin-left: 20px;
}
.vv_platfrom_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  align-items: flex-start;
}
.vv_platfrom_info .platfrom_info_text {
  padding-right: 80px;
  font-size: 14px;
}
.vv_icon_wrap {
  align-items: center;
  margin-top: 38px;
}
