/* 提供全局公用样式 */

@import "./base.less";
body, html {
	min-height: 100%;
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	background: @bgColor;
}
#contentRoot {
	flex: 1;
}
h2 {
	padding: 0;
	margin: 0;
}
a {
	color: #333;
}
a:focus, a:hover {
	color: @baseColor!important;
}
strong {
	font-weight: normal;
}
// .btn {
// 	padding: 6px;
// 	border-radius: 6px;
// 	font-size: 18px;
// 	color: #eee;
// 	&.btn-default {
// 		background: @baseColor;
// 	}
// }
// section {
// 	display: flex;
// 	flex-direction: column;
// }
// 覆盖bootstrap
.container {
	max-width: 1266px;
}
.vv_container {
	// background: url(../i/images/bg.png) no-repeat top center;
	// background-size: 100% 100%;
	font-size: 16px;
	flex: 1;
	position: relative;
}
// .vv_container {
// 	max-width: 1420px;
// 	margin: 0 auto;
// }

.pc_footer {
	padding: 12px 0;
	font-size: 14px;
	color: #72b3d5;
	text-align: center;
	display: block;
	width: 100%;
	a {
		color: #72b3d5;
	}
}
.pc_footer_navLaebl {
	padding: 0 8px;
}

.m_module {
	.bor();
	margin-top: 18px;
	border-radius: 3px;
	background: #fff;
}